body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

h1 {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
    margin-bottom: 10px;
}

svg {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 60%;
    cursor: pointer;
}

dialog {
    border: none;
    width: 30vw;
    height: 30vh;
}

img {
    width: 170px;
    height: 170px;
    margin-right: 10px;
    background-color: #f0f0f0;
}

ul {
    list-style: none;
    margin-bottom: 30px;
    background-color: #f0f0f0;
    max-width: 100ch;
}

li {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

#filter-counter {
    position: absolute;
    top: 65%;
    right: 0.5%;
    background-color: white;
    color: #4682b4;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 8px;
}

#footer {
    bottom: 0;
    background-color: #4682b4;
    grid-area: footer;
    color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
    width: 100%;
    position: relative;
}

#form-busca {
    display: flex;
    align-items: center;
    position: relative;
}

#header{
    background-color: #4682b4;
    grid-area: header;
    height: 15vh;
    margin-bottom: 20px;   
    justify-content: center;
    position: relative;
    color: white;
}

#main{
    background-color:#f0f0f0;
    grid-area: main;
    max-width: 100ch;
}

#modal {
    position: relative;
}

#search-input {
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 50vw;
}

.apply {
    padding: 8px;
    width: 100%;
    margin: 10px 10px 0px 0px;
    background-color: #4682b4;
    border-radius: 5px;
    color: white
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.container {
    display: grid;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-areas:
       'header'
       'main'
       'footer';
    grid-template-rows: auto auto auto;
    min-height: 100vh; 
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    margin-top: 20px;
}
    
.input-side {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 50%;
}

.leia-mais {
    display: inline-block;
    padding: 10px 20px;
    width: 90%;
    margin-left: 10px;
    background-color: #4682b4;
    text-align: center;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paginacao {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
}

.paginacao .paginate-button {
    margin-bottom: 10px;
}

.paginate-button {
    text-align: center;
    border-radius: 3px;
    border: 1px solid #008ebb;
    padding: 6px 10px;
    display: inline-block;
    color: #008ebb;
}

.paginate-list {
    margin-left: 10px;
}

.search {
    position: absolute;
    right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.selects {
    display: flex;
}

.select-side {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 50%
}

.x {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
} 
 @media (max-width: 760px) {
     .selects,
     .inputs {
         flex-direction: column;
     }
 
     .select-side,
     .input-side {
         width: 100%;
         margin-bottom: 10px;
     }
 
     #search-input {
         width: 70vw;
     }
 }
 